.contact__container{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
}

.contact__data__left{
    width: 100%;
    /* background: red; */
}

.contact__form{
    width: 100%;
    /* background-color: purple; */
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
}

.contact__description {
    font-size: var(--small_font-size);
    line-height: 1.6;
}

.contact__description,
.contact__info .info__item {
    margin-bottom: 20px;
}

.contact__info .info__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.contact__info .info__icon {
    color: var(--first-color);
    font-size: var(--h2-font-size);
}

.contact__info .info__title {
    font-size: var(--small_font-size);
}

.contact__info .info__desc {
    font-family: var(--body-font);
    font-size: var(--small_font-size);
    font-weight: var(--weight-500);
}

.contact__socials {
    display: flex;
    column-gap: 16px;
}

.contact__social-link {
    background-color: var(--container-color);
    color: var(--title-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease;
}

.contact__social-link:hover {
    background-color: var(--first-color);
    color: var(--text-white);
}

.form__input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.form__input-div {
    margin-bottom: 30px;
}

.form__control {
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    color: var(--title-color);
    width: 100%;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: var(--small_font-size);
    transition: all 0.3s ease;
}

.form__control:focus {
    border-color: var(--first-color);
}

.textarea {
    resize: none;
    height: 160px;
}

.contact__button-icon {
    font-size: var(--h3-font-size);
    line-height: 64px;
}

.toastify__toast--success {
    background-color: #28a745 !important;
    color: white !important;
}

.toastify__toast--error {
    background-color: #dc3545 !important;
    color: white !important;
}